@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'Montserrat_400Regular';
  --font-secondary: 'Roboto_400Regular';
  --font-heading: 'Montserrat_700Bold';
  --font-body: 'Roboto_400Regular';
}

